src/main/mule/java.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config_java" doc:name="HTTP Listener config" doc:id="eec27bdd-dbc1-46d2-b788-674fa2989ace" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="javaFlow" doc:id="a7b697f1-4beb-4a07-afa3-88f70d60861e" >
		<http:listener doc:name="Listener" doc:id="f81dae14-6711-4e7a-9d4e-8449747b1e90" config-ref="HTTP_Listener_config_java" path="/java"/>
		<java:invoke-static method="main(java.lang.String[])" doc:name="Invoke static" doc:id="32bbf4bb-d002-4cd1-a830-3a69a0f011e2" class="classification.MessageClient" >
			<java:args ><![CDATA[#[{ arg0 : [""]}]]]></java:args>
		</java:invoke-static>
	</flow>
</mule>
